.about {
  padding-top: 70px;

  .about-content {

    blockquote {
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
      color: $--color-grey-dark;
      padding: 25px 30px 55px;
      border: 5px solid $--color-border;
      margin-bottom: 55px;
    }
    .about-image {

      img {
        height: 420px;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .about-cards-wrapper {
    position: sticky;
    top: 10px;

    .col-lg-6:nth-of-type(3), .col-lg-6:nth-of-type(4) {
      .about-card {
        margin-top: 40px;
        height: calc(100% - 40px);
      }
    }


    .about-card {
      padding: 25px;
      border: 2px solid $--color-black;
      height: 100%;

      .about-card-ico {
        margin-bottom: 10px;

        img {
          width: 48px;
          height: 48px;
          object-fit: contain;
        }
      }
      .about-card-title {
        font-family: $--font-title;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        color: $--color-black-dark;
        margin-bottom: 10px;
      }
      .about-card-description {

        p {
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          color: $--color-grey-dark;
        }
      }
    }
  }

}

