.calculator-section-main {
  padding-top: 178px;

  h1 {
    margin-bottom: 35px;
  }
}


@media (max-width: 600px) {
  .calculator-section-main {
    padding-top: 132px;
  }
  .calculator-section .calculator-block-wrapper:nth-of-type(1) {
    padding-top: 0;
  }
}
