.footer {
  background-image: url(../img/footer-back.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 0 45px;

  .btn-red {
    box-shadow: none;
  }

  .footer-logo {
    margin-bottom: 30px;
  }

  .footer-payment-partners {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    img + img {
      margin-left: 20px;
    }
  }

  .footer-policy {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: underline;
    color: $--color-white;
  }

  .copyright {
    margin-top: 30px;
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: $--color-white;
    }
  }

  .footer-contacts {
    .footer-contact {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      span {
        display: block;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        color: $--color-white;
        line-height: 20px;
      }
      a {
        font-weight: 400;
        font-size: 16px;
        color: $--color-gold;
        width: fit-content;
        display: block;

        &:after {
          content: "";
          display: block;
          position: relative;
          top: -3px;
          width: 100%;
          height: 1px;
          background-color: $--color-gold;
        }
      }
    }
    .footer-contact-phone {

      &:before {
        content: "";
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 22px;
        height: 22px;
        margin-right: 16px;
        background-image: url(../img/icons/phone-ico-gold.svg);
      }
    }
    .footer-contact-mail {
      &:before {
        content: "";
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 22px;
        height: 22px;
        margin-right: 16px;
        background-image: url(../img/icons/mail-ico-gold.svg);
      }
    }
    .footer-contact-time {
      &:before {
        content: "";
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 16px;
        height: 16px;
        margin-right: 9px;
        background-image: url(../img/icons/clock-ico-gold.svg);
      }
    }
    .footer-contact-address {
      &:before {
        content: "";
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 16px;
        height: 16px;
        margin-right: 9px;
        background-image: url(../img/icons/point-ico-gold.svg);
      }
    }
    .btn {
      margin-bottom: 20px;
      width: 100%;
    }
  }

  .footer-title {
    font-family: $--font-title;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 20px;
    color: $--color-white;
  }

}

@media (max-width: 1024px) {
  .footer {

    .col-md-6 {

      &:nth-of-type(1), &:nth-of-type(2) {
        margin-bottom: 40px;
      }
    }

    .copyright p {
      max-width: 80%;
    }

  }
}

@media (max-width: 600px) {
  .footer {
    background-image: url(../img/footer-back-mobile.png);
    background-color: #474554;

    .social-links a img {
      width: 20px;
      height: 20px;
    }

    .col-md-6 {

      &:nth-of-type(3) {
        margin-bottom: 30px;
      }
    }

    .footer-contacts {
      .btn-red {
        display: none;
      }

      .footer-contact-address span {
        max-width: 85%;
      }
    }

  }
}
