.header {
  padding-top: 15px;
  background-color: $--color-light-grey;
  padding-bottom: 20px;
  .header-top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    .header-mobile {
      display: none;
    }

    .header-pc {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .header-address {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      color: $--color-grey-dark;

      &:before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-right: 10px;
        background-image: url(../img/icons/point-ico.svg);
      }
    }

  }
  .header-bottom {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .mobile-popup-menu {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }

    .btn-close-mobile-menu {
      display: none;
      width: 30px;
      height: 30px;
      border: 2px solid $--color-grey-dark;
      margin-left: 24px;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 6px;


      .line {
        height: 2px;
        width: 100%;
        background-color: $--color-grey-dark;
        transition: 0.3s;

        &:nth-child(1) {
          transform: translateY(4px) rotate(45deg);
        }
        &:nth-child(2) {
          transform: translateY(-3px) rotate(-45deg);
        }
      }
    }

    .header-contact-phone {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      &:before {
        content: "";
        display: block;
        width: 22px;
        height: 22px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-right: 10px;
        background-image: url(../img/icons/phone-blue.svg);
      }

      span {
        display: block;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        color: $--color-grey-dark;
      }
      a {
        font-weight: 400;
        font-size: 16px;
        color: $--color-blue;
        width: fit-content;
        display: block;

        &:hover {
          color: $--color-gold;

          &:after {
            background-color: $--color-gold;
          }
        }


        &:after {
          content: "";
          display: block;
          position: relative;
          top: -3px;
          width: 100%;
          height: 1px;
          transition: 0.3s;
          background-color: $--color-blue;
        }
      }
    }

  }

}

.header-transparent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: transparent;
}

@media (max-width: 1024px) {

  .header {
    .header-top {
      margin-bottom: 0;

      .header-pc {
        display: none;
      }

      .header-mobile {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .social-links {
          margin-left: auto;
        }

        .mobile-menu-btn {
          width: 30px;
          height: 30px;
          border: 2px solid $--color-grey-dark;
          margin-left: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          padding: 6px;

          .line {
            height: 2px;
            width: 100%;
            background-color: $--color-grey-dark;
            transition: 0.3s;

            &:nth-of-type(2) {
              margin: 4px 0;
            }
          }
        }

      }

    }
    .header-bottom {
      opacity: 0;
      visibility: hidden;
      overflow: hidden;
      position: fixed;
      display: block;
      width: 100%;
      height: 100%;
      background-color: #EBEBEB;
      top: 0;
      left: 0;
      z-index: 1;
      padding: 15px 75px 20px;
      transition: 0.3s;

      .mobile-popup-menu {
        flex-wrap: wrap;

        .main-menu {
          margin-top: 30px;

          > ul {
            flex-wrap: wrap;

            li {
              width: 50%;
              margin-bottom: 15px;
            }

            li + li {
              margin-left: 0;
            }
          }
        }

        .header-contact-phone {
          margin-top: 30px;
        }

      }

      .logo {
        max-width: 50%;
        display: inline-flex;
        align-items: center;
      }

      .btn-close-mobile-menu {
        display: inline-flex;
        margin-left: auto;
      }

    }
    .header-bottom.show {
      opacity: 1;
      visibility: visible;
      overflow: initial;
    }
  }
}

@media (max-width: 600px) {
  .header .header-bottom {
    padding: 15px 24px 20px;
  }
}
