.header {
  padding-top: 15px;
  background-color: $--color-light-grey;
  padding-bottom: 20px;
  .header-top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    .header-mobile {
      display: none;
    }

    .header-pc {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .header-address {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      color: $--color-grey-dark;

      &:before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-right: 10px;
        background-image: url(../img/icons/point-ico.svg);
      }
    }

  }
  .header-bottom {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .header-contact-phone {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      &:before {
        content: "";
        display: block;
        width: 22px;
        height: 22px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-right: 10px;
        background-image: url(../img/icons/phone-blue.svg);
      }

      span {
        display: block;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        color: $--color-grey-dark;
      }
      a {
        font-weight: 400;
        font-size: 16px;
        color: $--color-blue;
        width: fit-content;
        display: block;

        &:after {
          content: "";
          display: block;
          position: relative;
          top: -3px;
          width: 100%;
          height: 1px;
          background-color: $--color-blue;
        }
      }
    }

  }

}

.header-transparent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: transparent;
}
