.our-team {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url(../img/seo-text-back.png);
  background-blend-mode: multiply;
  background-color: $--color-light-grey;
  padding-top: 156px;
  overflow: hidden;

  .staff-card {
    padding: 30px;
    background-color: $--color-white;

    .staff-image {
      margin-bottom: 15px;

      img {
        height: 167px;
        width: 100%;
        object-fit: cover;
      }
    }
    .staff-name {
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
      margin-bottom: 10px;
      color: $--color-black;
    }
    .staff-position {
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      color: $--color-black;
    }
  }
}

.staff-slider {
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-bottom: 90px;
}

@media (max-width: 600px) {

  .our-team {
    padding-top: 75px;

    .staff-card {
      padding: 24px;
      .staff-image img {
        height: 199px;
      }
    }
  }

  .staff-slider {
    overflow: initial;
    padding-bottom: 67px;
  }
}
