.vacancies {
  padding-top: 178px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/vacancy-back.png);
  background-blend-mode: multiply;
  background-color: $--color-light-grey;
}
