//
// Project Variables
//

/* fonts */
$--font-default: 'Roboto';
$--font-title: 'Roboto Flex';
$--font-custom-title: 'Unbounded';


/* colors */
$--color-black-dark: #000000;
$--color-black: #363434;
$--color-grey-dark: #605F5F;
$--color-grey: #ECECEC;
$--color-light-grey: #F2F2F2;
$--color-blue: #698BD6;
$--color-white: #fff;
$--color-red: #F94551;
$--color-gold: #D6B469;
$--color-border: #DCDCDC;
