* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
}

section {
  padding: 90px 0;
}

section:has(.lines-background) {
  position: relative;
}

.table-wrapper {
  padding: 30px 40px 45px;
  background-color: $--color-white;

  .table-title {
    font-family: $--font-title;
    font-size: 16px;
    font-weight: 900;
    line-height: 19px;
    color: $--color-black;
    margin-bottom: 16px;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    tr {

      td {
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        color: $--color-grey-dark;
        padding: 8px 16px;
        border: 1px solid $--color-light-grey;
        border-spacing: 0;
      }

      &:nth-of-type(1) {
        td {
          font-weight: 500;
          color: $--color-black;
        }
      }
    }
  }

  .btn {
    margin-top: 18px;
    width: 247px;
    font-size: 14px;
  }

}

.form-pagination {
  display: flex;
  align-items: center;
  margin: 0;

  li {
    border: 1px solid $--color-black;
    width: fit-content;

    a {
      padding: 5px 9px;
      font-family: $--font-title;
      color: $--color-black;
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
      display: block;
    }
  }

  li.active a {
    background-color: $--color-black;
    color: $--color-white;
  }

  li + li {
    margin-left: 20px;
  }
}

.filters-block {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 70px;
  width: calc(100% + 20px);

  .filter {
    cursor: pointer;
    padding: 0 10px;

    span {
      font-size: 16px;
      font-weight: 700;
      line-height: 19px;
      color: $--color-black;
      background-color: transparent;
      border: 1px solid $--color-black;
      padding: 14px 22px;
      width: fit-content;
      display: block;
      transition: 0.3s;
    }

    &:hover {

      span {
        background-color: $--color-black;
        color: $--color-white;
      }
    }
  }
  .filter.active {

    span {
      background-color: $--color-black;
      color: $--color-white;
    }
  }
}

.lines-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  .lines-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1326px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
  }
  .line {
    width: 1px;
    height: 100%;
    background-color: $--color-light-grey;
  }
}

.card-rating {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  .star-ico {
    display: block;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../img/icons/star-gold-ico.svg);
  }
}



.card-wrapper {

  .card-description {
    margin-bottom: 20px;

    p {
      font-size: 15px;
      font-weight: 400;
      line-height: 21px;
    }
  }

  .card-ico {
    margin-bottom: 15px;
    img {
      width: 50px;
      height: 50px;
      object-fit: contain;
    }
  }
}

.social-links {
  display: flex;
  align-items: center;
  a {
    display: block;

    &:hover {
      opacity: 0.7;
    }

    img {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
  }

  a + a {
    margin-left: 16px;
  }
}

.form-policy {
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  color: $--color-black;

  a {
    font-size: inherit;
    line-height: inherit;
    color: $--color-blue;
    text-decoration: underline;
  }
}

.testimonial-card {
  padding: 30px;
  background-color: $--color-light-grey;
  box-shadow: 0 15px 15px 0 #E8E8E8;

  .card-content {
    display: flex;
    margin-bottom: 15px;
  }

  .card-avatar {
    margin-right: 15px;

    img {
      width: 70px;
      height: 70px;
      object-fit: contain;
    }
  }
  .card-title {
    font-family: $--font-title;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: $--color-black;
    margin-bottom: 3px;
  }
  .card-tag {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    color: $--color-black;
    text-transform: uppercase;
  }
  .card-description {

    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 25px;
      color: $--color-black;
    }
  }
}

.custom-cards-section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/seo-text-back.png);
  background-color: $--color-light-grey;
  background-blend-mode: multiply;
  padding-bottom: 0;

  .h2 {
    margin-bottom: 100px;
  }

}

.custom-card {
  padding: 40px;
  margin-bottom: 90px;
  height: calc(100% - 90px);
  box-shadow: 0 15px 15px 0 #E8E8E8;
  position: relative;
  background-color: $--color-white;
  .custom-card-number {
    font-family: $--font-title;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    color: $--color-white;
    padding: 8px 17px;
    background-color: $--color-black;
    height: 50px;
    width: fit-content;
    margin-top: -90px;
    margin-left: -40px;
    margin-bottom: 40px;
  }
  .custom-card-title {
    font-family: $--font-title;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    color: $--color-black;
    margin-bottom: 15px;
  }
  .custom-card-description {

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      color: $--color-grey-dark;
    }
  }
  .btn {
    width: 100%;
    margin-top: 15px;
  }
}

@media (max-width: 1024px) {
  .card-wrapper {
    margin-bottom: 32px;
  }

  .custom-card {
    padding: 30px;

    .custom-card-title {
      font-size: 24px;
      line-height: 30px;
    }

    .custom-card-number {
      margin-left: -30px;
      margin-top: -80px;
      margin-bottom: 30px;
    }

  }

  .filters-block {

    .filter {
      margin-bottom: 20px;

      span {
        padding: 12px 16px;
      }
    }
  }

  .table-wrapper {
    padding: 30px;
  }

}

@media (max-width: 600px) {

  section {
    padding: 60px 0;
  }

  .form-policy  {
    font-size: 11px;
    line-height: 15px;
  }

  .social-links a img {
    width: 24px;
    height: 24px;
  }

  .lines-background {

    .lines-wrapper {
      max-width: 60%;
    }

    .line {

      &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
        display: none;
      }
    }
  }

  .testimonial-card {
    padding: 24px;

    .card-description  {

      p {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }

  .card-wrapper {
    margin-bottom: 24px;
  }

  .custom-cards-section  {
    padding-bottom: 60px;

    .col-lg-4:last-of-type {

      .custom-card {
        margin-bottom: 0;
      }
    }

    .h2 {
      margin-bottom: 75px;
    }
  }

  .custom-card {
    padding: 24px;
    height: initial;
    margin-bottom: 67px;

    .custom-card-title {
      margin-bottom: 10px;
      font-size: 22px;
      line-height: 26px;
    }

    .custom-card-description  {

      p {
        font-size: 15px;
        line-height: 19px;
      }
    }

    .btn {
      margin-top: 10px;
    }

    .custom-card-number {
      height: 43px;
      font-size: 22px;
      line-height: 26px;
      padding: 9px 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: -24px;
      margin-top: -68px;
      margin-bottom: 24px;
    }
  }

  .filters-block {
    margin: 0 -8px 24px;
    width: calc(100% + 16px);

    .filter {
      padding: 0 8px;
      margin-bottom: 16px;

      span {
        padding: 12px 16px;
      }
    }
  }

}
