.breadcrumbs {
  margin: 24px 0;

  a, span {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: $--color-gold;
  }
  a {
    margin-right: 5px;
  }
  span span {
    margin-left: 5px;
  }
  a:hover {

  }
  .breadcrumb_last {
    color: $--color-black;
  }
}
