.calculator-section {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-blend-mode: multiply;
  background-image: url(../img/seo-text-back.png);
  background-color: $--color-light-grey;
  padding-top: 50px;



  .h2 {
    margin-bottom: 25px;
    max-width: 90%;
  }

  .description {
    margin-bottom: 35px;

    p {
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
      padding-right: 20px;

      strong {
        font-weight: 500;
      }
    }
  }

  form {

    label {
      width: 100%;
    }


    .form-step {
      display: none;
    }

    .form-step-6 {
      max-width: 335px;
    }

    .form-step-1, .form-step-2, .form-step-5 {
      margin-bottom: 40px;
    }

    input {
      box-shadow: 0 5px 5px 0 #E8E8E8;
    }

    .form-step {

      input[type="submit"]:disabled {
        cursor: not-allowed;

        &:hover {
          background-color: #F94551;
        }
      }

      textarea {
        padding: 12px 20px;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        height: 152px;
        resize: none;
        width: 100%;
        border: 1px solid $--color-black;
        outline: none;
        box-shadow: 0 5px 5px 0 #E8E8E8;
        margin-bottom: 15px;

        &::placeholder {
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
        }
      }

      label:has(input[type="checkbox"]) {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 20px;

        input[type="checkbox"] {
          margin-right: 12px;
        }
      }

      input[type="checkbox"] {
        width: 20px;
        height: 19px;
        border: 1px solid $--color-black-dark;
      }

      &:has(input[type="checkbox"]) {
        max-width: 285px;

        p {
          width: 100%;
        }

        p + p {
          margin-left: 0;
        }

        label {
          width: 100%;
          color: $--color-grey-dark;
        }

        input[type=submit] {
          width: 100%;
        }

      }

      &:has(textarea) {
        max-width: 285px;

        input[type=submit] {
          width: 100%;
        }

        p + p {
          margin-left: 0;
        }

        p {
          width: 100%;
        }

      }

      .custom-file-upload {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 15px;

        &:before {
          content: "";
          display: block;
          width: 32px;
          height: 32px;
          background-size: 32px;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url(../img/icons/file-upload-ico.svg);
          margin-right: 12px;
        }

        label {
          font-size: 16px;
          font-weight: 500;
          line-height: 22px;
          text-decoration: underline;
          color: $--color-grey-dark;
          cursor: pointer;
        }

      }

      .custom-file-upload input[type="file"] {
        display: none;
      }

      .custom-file-upload button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      .custom-file-upload button:hover {
        background-color: #45a049;
      }

      #file-upload-message {
        margin-top: 10px;
        color: red;
      }

    }
  }

  .form-item-name {
    font-family: $--font-title;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: $--color-black;
    margin-bottom: 20px;
  }

  .form-pagination {
    margin-bottom: 0;
    margin-top: 40px;
  }

  .d-flex {
    width: 100%;
  }
  .calculator-block-wrapper {

    &:nth-of-type(1) {
      padding-top: 37px;
      width: 50%;
    }
    &:nth-of-type(2) {
      width: 50%;
    }
  }

  .image-wrapper {
    margin-left: -20px;

    img {
      width: 718px;
      max-width: initial;
    }
  }

  .image-wrapper-mobile {
    display: none;
  }

}

@media (max-width: 1024px) {
  .calculator-section {

    .image-wrapper {
      display: flex;
      justify-content: center;
    }

    .image-wrapper-pc {
      display: none;
    }

    .calculator-block-wrapper {
      &:nth-of-type(1), &:nth-of-type(2) {
        width: 100%;
      }
      &:nth-of-type(2) {
        order: -1;
      }
    }

    .image-wrapper img {
      width: initial;
      max-width: 100%;
    }

  }
}

@media (max-width: 600px) {
  .calculator-section {

    .image-wrapper {
      margin-left: 0;
      img {
        width: 375px;
        max-width: unset;
      }
    }

    .h2 {
      margin-bottom: 16px;
    }

    .description {
      margin-bottom: 24px;

      p {
        font-size: 18px;
        line-height: 23px;
        padding-right: 0;
      }
    }

    .image-wrapper-pc {
      display: none;
    }
    .image-wrapper-mobile {
      display: flex;
      justify-content: center;
    }
    .form-control {
      display: flex;
      flex-direction: column;
    }
    .form-pagination {
      order: -1;
      margin: 32px 0;
    }
    .form-item-name {
      margin-bottom: 16px;
    }
  }
}
