.callback-section-light {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/seo-text-back.png);
  background-color: #EBEBEB;
  background-blend-mode: multiply;
  padding: 34px 0 70px;

  .callback-block-wrapper {

    &:nth-of-type(1) {
      width: 45%;
      padding: 56px 0 70px;
    }
    &:nth-of-type(2) {
      width: 55%;
    }
  }

  .h2 {
    margin-bottom: 25px;
  }

  .form-wrapper {

    .form-description {
      margin-bottom: 35px;

      p {
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        color: $--color-grey-dark;
      }
    }
    .form-policy {
      max-width: 75%;
    }
  }

  .contact-block {
    display: flex;
    align-items: center;
    margin-top: 25px;
    .contact-block-title {
      font-family: $--font-title;
      font-size: 22px;
      font-weight: 700;
      line-height: 26px;
      margin-right: 24px;
      max-width: 224px;
    }

  }
}

@media (max-width: 1024px) {
  .callback-section-light {
    .callback-block-wrapper {

      &:nth-of-type(1), &:nth-of-type(2) {
        width: 100%;
      }
    }
  }
}

@media (max-width: 600px) {
  .callback-section-light {
    padding: 30px 0 60px;
    overflow: hidden;
    max-width: 100%;
    position: relative;

    .h2 {
      margin-bottom: 16px;
    }

    .callback-block-wrapper {

      &:nth-of-type(1) {
        padding: 0;
      }

      &:nth-of-type(2) {
        order: -1;
        margin-bottom: 25px;
      }
    }

    .image-wrapper {
      height: 276px;

      img {
        position: absolute;
        left: -20px;
        top: 30px;
        max-width: initial;
        width: 396px;
      }
    }

    .form-wrapper {

      .form-policy {
        max-width: 100%;
        font-size: 12px;
        line-height: 17px;
      }

      .form-description  {

        p {
          font-size: 18px;
          line-height: 23px;
        }
      }
    }

    .contact-block {
      margin-top: 24px;
      flex-wrap: wrap;

      .contact-block-title {
        max-width: 100%;
        margin-bottom: 16px;
      }
    }

  }
}
