.calculator-section {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-blend-mode: multiply;
  background-image: url(../img/seo-text-back.png);
  background-color: $--color-light-grey;
  padding-top: 50px;

  .h2 {
    margin-bottom: 25px;
    max-width: 90%;
  }

  .description {
    margin-bottom: 35px;

    p {
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
      padding-right: 20px;

      strong {
        font-weight: 500;
      }
    }
  }

  .form-item-name {
    font-family: $--font-title;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: $--color-black;
    margin-bottom: 20px;
  }

  .form-pagination {
    margin-bottom: 0;
    margin-top: 40px;
  }

  .d-flex {
    width: 100%;
  }
  .calculator-block-wrapper {

    &:nth-of-type(1) {
      padding-top: 37px;
      width: 50%;
    }
    &:nth-of-type(2) {
      width: 50%;
    }
  }

  .image-wrapper {
    margin-left: -20px;

    img {
      width: 718px;
      max-width: initial;
    }
  }

  .image-wrapper-mobile {
    display: none;
  }

}

@media (max-width: 1024px) {
  .calculator-section {

    .calculator-block-wrapper {
      &:nth-of-type(1), &:nth-of-type(2) {
        width: 100%;
      }
      &:nth-of-type(2) {
        order: -1;
      }
    }

    .image-wrapper img {
      width: initial;
      max-width: 100%;
    }

  }
}

@media (max-width: 600px) {
  .calculator-section {

    .h2 {
      margin-bottom: 16px;
    }

    .description {
      margin-bottom: 24px;

      p {
        font-size: 18px;
        line-height: 23px;
        padding-right: 0;
      }
    }

    .image-wrapper-pc {
      display: none;
    }
    .image-wrapper-mobile {
      display: block;
    }
    .form-control {
      display: flex;
      flex-direction: column;
    }
    .form-pagination {
      order: -1;
      margin: 32px 0;
    }
    .form-item-name {
      margin-bottom: 16px;
    }
  }
}
