.callback-section-dark {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/callback-dark-back.png);
  padding-bottom: 54px;
  padding-top: 0;
  overflow: hidden;

  &:has(.h2.red) {
    .h2 {

      &:nth-of-type(1) {
        margin-bottom: 0;
      }
      &:nth-of-type(2) {
        margin-bottom: 24px;
        color: $--color-red;
      }
    }
  }

  .h2 {
    color: $--color-white;
    margin-bottom: 24px;
  }

  .description {
    margin-bottom: 25px;

    p {
      color: $--color-white;
      max-width: 80%;
    }
  }

  .form-policy {
    color: $--color-white;
    margin-top: 15px;
    margin-bottom: 40px;
    max-width: 440px;
  }

  .contact-block-title {
    color: $--color-white;
    font-family: $--font-title;
    font-size: 22px;
    font-weight: 700;
    max-width: 230px;
    margin-right: 24px;
    line-height: 26px;
  }

  .contact-block {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .callback-block-wrapper {
    &:nth-of-type(1) {
      width: 60%;
      padding: 90px 0 80px;
    }
    &:nth-of-type(2) {
      width: 40%;
    }
  }

  .image-wrapper {
    margin-left: -20px;

    img {
      width: 602px;
      max-width: initial;
    }
  }

}

@media (max-width: 1024px) {
  .callback-section-dark {
    .callback-block-wrapper {

      &:nth-of-type(1), &:nth-of-type(2) {
        width: 100%;
      }

    }

    .image-wrapper img {
      max-width: 100%;
      width: initial;
    }

  }
}

@media (max-width: 600px) {
  .callback-section-dark {
    padding: 60px 0 60px;
    overflow: hidden;
    max-width: 100%;
    position: relative;

    .h2 {
      margin-bottom: 16px;
    }

    .description  {

      p {
        max-width: 100%;
        font-size: 18px;
        line-height: 23px;
      }
    }

    .callback-block-wrapper {

      &:nth-of-type(1) {
        padding: 0;
      }
    }

    .image-wrapper {
      height: 318px;

      img {
        position: absolute;
        left: 0;
        bottom: 60px;
        max-width: initial;
        width: 396px;
      }
    }

    .form-policy {
      max-width: 100%;
      font-size: 12px;
      line-height: 17px;
      margin-bottom: 0;
    }

    .form-wrapper {

      .form-description  {

        p {
          font-size: 18px;
          line-height: 23px;
        }
      }
    }

    .contact-block {
      display: none;
    }

  }
}

