.cases-section {

  .case-title {
    font-family: $--font-title;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    color: $--color-black;
    margin-bottom: 15px;
  }
  .case-description {
    margin-bottom: 30px;

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: $--color-grey-dark;
      max-width: 80%;
    }
  }
  .case-info {
    display: flex;
    margin: 0 -20px;
    width: calc(100% + 40px);
    margin-bottom: 30px;

    .case-info-item {
      width: 50%;
      padding: 0 20px;
    }

    .case-info-content {

      p {
        font-size: 15px;
        font-weight: 400;
        line-height: 21px;
        color: $--color-grey-dark;
      }
    }
  }
  .case-services {
    margin-bottom: 15px;

    .tags {
      display: flex;
      flex-wrap: wrap;
      width: calc(100% + 20px);
      margin: 0 -10px;

      .tag {
        padding: 0 10px;
        margin-bottom: 20px;

        span {
          font-family: $--font-title;
          font-size: 12px;
          font-weight: 700;
          line-height: 19px;
          color: $--color-blue;
          background-color: $--color-light-grey;
          padding: 8px 16px;
          width: fit-content;
        }
      }
    }
  }
  .btn-red {
    width: 193px;
  }
}

.cases-slider {
  max-width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 110px;

  .slider-notification {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: $--color-grey-dark;
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 46px;
    justify-content: center;
  }

  .swiper-button-next, .swiper-button-prev {
    display: none;
  }

  .swiper-pagination {
    display: flex;
    justify-content: center;
    bottom: 0;
  }

  .swiper-pagination-bullet {
    width: 26px;
    height: 26px;
    border: 1px solid $--color-black;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    opacity: 1;
    color: $--color-black;
  }
  .swiper-pagination-bullet-active {
    background-color: $--color-black;
    color: $--color-white;
  }
}


@media (max-width: 600px) {
  .cases-section {

    .h2 {
      margin-bottom: 24px;
    }

    .case-title {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 10px;
    }
    .case-description  {

      p {
        font-size: 14px;
        line-height: 20px;
        max-width: 100%;
      }
    }

    .case-info {
      flex-wrap: wrap;
      width: 100%;
      margin: 0 0 10px;

      .case-info-item {
        width: 100%;
        padding: 0;
        background-color: $--color-light-grey;

        &:not(:last-of-type) {
          margin-bottom: 10px;
        }

        .case-info-header {
          margin-bottom: 0;
          padding: 12px 20px;
          position: relative;
          display: flex;
          align-items: center;
          width: 100%;

          &:after, &:before {
            content: '';
            position: absolute;
            right: 20px;
            display: block;
            width: 15px;
            height: 2px;
            background: #000;
          }

          &:before {
            transform: rotate(90deg);
            transition: 0.3s;
          }
        }
        .case-info-content {
          height: 0;
          overflow: hidden;
          transition: height 0.5s ease;

          p {
            padding: 0 20px 12px;
          }
        }
      }

      .case-info-item.active {

        .case-info-header {

          &:before {
            opacity: 0;
          }
        }
      }
    }
    .case-services {
      margin-bottom: 4px;
    }

    .btn-red {
      width: 100%;
    }
  }
  .cases-slider {
    padding-bottom: 92px;

    .slider-notification {
      bottom: 42px;
    }
  }
}
