.case-project-section {

  .project-content {

    .h2 {
      text-align: center;
    }
    .description {
      max-width: 48%;
      margin: 0 auto 75px;

      p {
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;

        &:not(:last-child) {
          margin-bottom: 24px;
        }
      }
    }
  }

  .plan-title {
    font-family: $--font-title;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
    margin-bottom: 30px;
  }

  .plan-cards-wrapper {

    .col-lg-6 {

      &:nth-child(odd) {
        .plan-card {
          background-color: $--color-light-grey;

          .plan-card-title {
            color: $--color-grey-dark;
          }
          .plan-card-description p {
            color: $--color-grey-dark;
          }
        }
      }
      &:nth-child(even) {
        .plan-card {
          background-color: $--color-black;

          .plan-card-title {
            color: $--color-white;
          }
          .plan-card-description p {
            color: $--color-white;
          }
        }
      }
    }
  }

  .plan-card {
    padding: 40px;
    box-shadow: 0 15px 15px 0 #E8E8E8;
    margin-bottom: 40px;
    height: calc(100% - 40px);

    .plan-card-title {
      font-family: $--font-title;
      font-size: 22px;
      font-weight: 700;
      line-height: 26px;
      margin-bottom: 15px;

      span {
        float: left;
        height: 100%;
        margin-right: 4px;
      }

    }
    .plan-card-description {

      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 15px;
        }
      }
    }
  }

}

.case-project-section-mobile {
  display: none;
}

@media (max-width: 1024px) {
  .case-project-section .plan-card .plan-card-title {
    display: flex;
  }
  .case-project-section .plan-card {
    padding: 30px;
  }
  .case-project-section .project-content .description {
    max-width: 70%;
  }
}


@media (max-width: 600px) {
  .case-project-section .project-content .h2 {
    margin-bottom: 24px;
  }

  .case-project-section-pc {
    display: none;
  }

  .case-project-section-mobile {
    display: block;

    .plan-title {
      margin-bottom: 24px;
    }

    .plan-card {
      padding: 24px;
      height: initial;
      margin-bottom: 24px;

      .plan-card-title {
        font-size: 18px;
        line-height: 22px;
        flex-wrap: wrap;
        span {
          margin-bottom: 4px;
        }
      }
    }

    .plan-cards-wrapper {

      &:nth-of-type(2) {
        .plan-card {
          background-color: $--color-light-grey!important;
        }
        .plan-card .plan-card-title {
          color: $--color-grey-dark!important;
        }
        .plan-card .plan-card-description p {
          color: $--color-grey-dark!important;
        }
      }
    }

    .plan-cards-wrapper-bottom {
      margin-top: 8px;
      .plan-card {
        background-color: $--color-black!important;
      }
      .plan-card .plan-card-title {
        color: $--color-white!important;
      }
      .plan-card .plan-card-description p {
        color: $--color-white!important;
      }
    }

  }

  .case-project-section .project-content .description {
    max-width: 100%;

    p {
      font-size: 18px;
      line-height: 24px;

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}
