.cases-section {

  .case-title {
    font-family: $--font-title;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    color: $--color-black;
    margin-bottom: 15px;
  }
  .case-description {
    margin-bottom: 30px;

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: $--color-grey-dark;
      max-width: 80%;
    }
  }
  .case-info {
    display: flex;
    margin: 0 -20px;
    width: calc(100% + 40px);
    margin-bottom: 30px;

    .case-info-item {
      width: 50%;
      padding: 0 20px;
    }

    .case-info-content {

      p {
        font-size: 15px;
        font-weight: 400;
        line-height: 21px;
        color: $--color-grey-dark;
      }
    }
  }
  .case-services {
    margin-bottom: 35px;

    .tags {
      display: flex;
      flex-wrap: wrap;
      width: calc(100% + 20px);
      margin: 0 -10px;

      .tag {
        padding: 0 10px;

        span {
          font-family: $--font-title;
          font-size: 12px;
          font-weight: 700;
          line-height: 19px;
          color: $--color-blue;
          background-color: $--color-light-grey;
          padding: 8px 16px;
          width: fit-content;
        }
      }
    }
  }
  .btn-red {
    width: 193px;
  }
}

.cases-slider {
  max-width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 110px;

  .slider-notification {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: $--color-grey-dark;
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 46px;
    justify-content: center;
  }

  .swiper-button-next, .swiper-button-prev {
    display: none;
  }

  .swiper-pagination {
    display: flex;
    justify-content: center;
    bottom: 0;
  }

  .swiper-pagination-bullet {
    width: 26px;
    height: 26px;
    border: 1px solid $--color-black;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    opacity: 1;
    color: $--color-black;
  }
  .swiper-pagination-bullet-active {
    background-color: $--color-black;
    color: $--color-white;
  }
}
