.footer-menu {

  li {
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    a {
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      color: $--color-white;
    }
  }
}
