.main-banner {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url(../img/seo-text-back.png);
  background-color: #EBEBEB;
  background-blend-mode: multiply;
  padding-top: 140px;
  padding-bottom: 110px;

  .subtitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.06em;
    font-family: $--font-title;
    color: $--color-black;
    margin-bottom: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: 100%;

    &:before {
      content: "";
      display: block;
      width: 40px;
      height: 2px;
      background-color: $--color-gold;
      margin-right: 12px;
    }
  }
  .main-banner-title {
    font-family: $--font-custom-title;
    font-size: 46px;
    font-weight: 900;
    line-height: 55px;
    color: $--color-black;
    margin-bottom: 25px;

    span {
      color: $--color-gold;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
    }
  }
  .form-wrapper {
    padding: 32px 40px;
    background-color: $--color-white;
    margin-bottom: 40px;
    box-shadow: 0 15px 15px 0 #E8E8E8;

    form {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 6px;

      input {
        height: 38px;
        padding: 0 20px;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: #363434CC;
        border: 1px solid $--color-black;
        box-shadow: 0 5px 5px 0 #E8E8E8;
      }

      input[type="submit"] {
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        color: $--color-white;
        border: none;
        outline: none;
        background-color: $--color-red;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: #EE1221;
        }
      }

      label, input {
        width: 100%;
      }

      p {
        display: inline-flex;
        width: calc(50% - 5px);
        margin-bottom: 10px;
      }

      .form-icon-description {
        display: flex;
        align-items: center;

        span {
          font-family: $--font-title;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;

          b {
            font-family: $--font-title;
            font-size: 20px;
            color: $--color-red;
            font-weight: 800;
            line-height: 26px;
            display: block;
            width: 100%;
          }
        }
        img {
          margin-right: 10px;
          width: 34px;
          height: 34px;
          object-fit: contain;
        }
      }

    }

    .form-title {
      font-family: $--font-title;
      font-size: 20px;
      font-weight: 800;
      line-height: 26px;
      color: $--color-black;
      margin-bottom: 15px;
    }
    .form-description {
      margin-bottom: 20px;

      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
      }
    }
  }

  .banner-info-block {
    display: flex;
    align-items: center;
    width: 100%;
    .info-block-ico {
      margin-right: 14px;

      img {
        width: 60px;
        min-width: 60px;
        height: 60px;
        object-fit: contain;
      }
    }

    .info-block-content {

      .info-block-title {
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
        color: $--color-black;
        margin-bottom: 8px;

        span {
          color: $--color-gold;
        }

      }
      .info-block-links {
        display: flex;
        align-items: center;

        a {
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          color: $--color-blue;
          text-decoration: underline;

          &:hover {
            color: $--color-gold;
          }
        }
        a + a {
          margin-left: 16px;
        }
      }
    }
  }

  .banner-image-block {
    position: relative;
    width: 100%;

    .banner-content {
      position: absolute;
      right: -100px;
      top: 100px;

      .banner-content-title {
        font-size: 18px;
        font-weight: 800;
        line-height: 21px;
        color: $--color-black;
        margin-bottom: 6px;

      }
      .banner-content-subtitle {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $--color-black;
      }
    }
    .banner-image {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      position: relative;
      padding-right: 40px;
      margin-bottom: 50px;

      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 428px;
        position: absolute;
        bottom: -10px;
        left: 0;
        border: 10px solid $--color-border;
      }

      img {
        max-width: 530px;
        width: 100%;
        object-fit: cover;
        z-index: 1;
      }
    }
    .banner-btn-wrapper {
      box-shadow: 0 8px 10px 0 #36343426;
      padding-left: 16px;
      height: 40px;
      background-color: $--color-white;
      width: fit-content;
      display: flex;
      align-items: center;
      border-radius: 40px;
      position: absolute;
      left: 0;
      z-index: 1;
      bottom: 30%;

      span {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        display: flex;
        align-items: center;

        &:before {
          content: "";
          display: block;
          width: 20px;
          height: 2px;
          margin-right: 6px;
          background-color: $--color-black;
        }
      }
      .banner-btn {
        margin-left: 20px;
        img {
          width: 49px;
          height: 49px;
          object-fit: contain;
        }
      }
    }
  }

  .banner-image-block-tablet {
    display: none;
  }

  .banner-stats-block {
    margin: 0 -15px;
    width: calc(100% + 30px);

    [class*=col-] {
      padding: 0 15px;
    }

    .stat-item {

      .stat-number {
        font-family: $--font-title;
        font-size: 20px;
        font-weight: 800;
        line-height: 24px;
        color: $--color-gold;
        margin-bottom: 8px;
      }
      .stat-title {
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        color: $--color-black;
      }

    }
  }

}


@media (max-width: 1400px) {
  .main-banner .banner-image-block .banner-image {
    justify-content: flex-start;
  }
  .main-banner .banner-image-block .banner-content {
    right: 0;
  }
}

@media (max-width: 1140px) {
  .main-banner .banner-image-block .banner-image img {
    max-width: 480px;
  }
  .main-banner .banner-image-block .banner-content {
    top: 60px;
  }
}

@media (max-width: 1023px) {
  .main-banner {

    .banner-image-block-pc {
      display: none;
    }
    .banner-image-block-tablet {
      display: block;
      margin-bottom: 40px;
    }

    .form-wrapper {
      width: 100%;
    }

    .subtitle {
      font-size: 14px;
    }

    .banner-image-block .banner-image {
      justify-content: flex-start;
    }

    .main-banner-title {
      font-size: 30px;
      line-height: 39px;
      max-width: 75%;
    }

    .col-lg-5 {
      display: flex;
      flex-wrap: wrap;
    }

    .banner-info-block {
      order: 1;
      margin-bottom: 30px;
    }

    .banner-stats-block {
      display: none;
    }

  }

  .main-banner .banner-image-block .banner-image {
    margin-bottom: 0;
    margin-top: 80px;
  }

  .main-banner .banner-image-block .banner-content {
    top: 140px;
    right: 20px;
  }


}

@media (max-width: 700px) {
  .main-banner .banner-image-block .banner-image img {
    max-width: 380px;
  }
  .main-banner .banner-image-block .banner-content {
    z-index: 1;
  }
}

@media (max-width: 768px) {

  .main-banner .banner-image-block .banner-image {
    margin-top: 0;
  }

  .main-banner .banner-image-block-tablet {
    margin-bottom: 0;
  }

  .main-banner {
    padding-bottom: 60px;
    padding-top: 98px;

    .subtitle {
      font-size: 12px;
      line-height: 17px;
      margin-bottom: 15px;
    }
    .main-banner-title {
      font-size: 30px;
      line-height: 36px;
    }
    .banner-image-block {

      .banner-content {
        right: unset;
        left: 0;
        top: 37px;

        .banner-content-title {
          font-size: 15px;
          line-height: 18px;
        }
        .banner-content-subtitle {
          font-size: 10px;
          line-height: 12px;
        }
      }

      .banner-image {
        justify-content: center;
        padding-right: 0;
        margin-bottom: 24px;

        &:after {
          height: 275px;
          border-width: 5px;
          bottom: -5px;
        }

        img {
          max-width: 340px;
        }
      }

      .banner-btn-wrapper {
        bottom: 37%;

        .banner-btn {
          margin-left: 6px;
        }
        span {

          &:before {
            display: none;
          }
        }
      }
    }

    .form-wrapper {
      padding: 24px;
      margin-bottom: 24px;

      .form-title {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 8px;
      }
      .form-description  {
        margin-bottom: 15px;

        p {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }

    .banner-info-block {
      flex-wrap: wrap;
      margin-bottom: 0;

      .info-block-ico {
        margin-bottom: 14px;
        margin-right: 0;
      }

      .info-block-content {

        .info-block-title {
          font-size: 16px;
          line-height: 21px;
          margin-bottom: 8px;
        }

        .info-block-links {
          flex-wrap: wrap;
        }
      }
    }

  }

  .col-m-12 {
    width: 100%;
  }

  .main-banner .form-wrapper form p {
    width: 100%;
  }

  .main-banner .form-wrapper form p:nth-of-type(3) {
    order: 3;
  }

}

@media (max-width: 400px) {
  .main-banner {

    .banner-info-block {

      .info-block-content {

        .info-block-links {
          flex-wrap: wrap;

          a + a {
            margin-left: 0;
            margin-top: 10px;
          }
        }
      }
    }
    .banner-image-block .banner-image img {
      max-width: 254px;
    }
    .banner-image-block .banner-image {
      justify-content: flex-end;
    }
    .banner-image-block .banner-image:after {
      height: 205px;
    }
  }
}


@media (max-width: 360px) {
  .main-banner .main-banner-title {
    font-size: 26px;
    line-height: 32px;
  }
  .main-banner .banner-image-block .banner-image img {
    max-width: 224px;
  }
  .main-banner .banner-image-block .banner-image:after {
    height: 165px;
  }
}
