.main-menu {

  > ul {

    > li {
      padding: 26px 0;
    }
  }

  ul {
    margin: 0;

    li {

      a {
        font-size: 16px;
        font-weight: 500;
        color: $--color-grey-dark;
      }

      &:hover {
        a {
          color: $--color-gold;
        }
      }
    }

    .menu-item-has-children {
      &:after {
        content: "";
        border: solid $--color-grey-dark;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        margin-left: 9px;
        margin-bottom: 2px;
        transition: 0.3s;
      }

      &:hover {

        > ul {
          opacity: 1;
          visibility: visible;
          overflow: visible;
        }

        &:after {
          transform: rotate(225deg);
          margin-bottom: 0;
          border-color: $--color-gold;
        }
      }

      > ul {
        padding: 30px;
        background-color: $--color-white;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        top: 96px;

        li + li {
          margin-left: 0;
        }

        li {
          &:not(:last-child) {
            margin-bottom: 15px;
          }

          a {
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            color: $--color-grey-dark;

            &:hover {
              color: $--color-gold;
            }
          }

          > ul {
            padding-top: 8px;

            li {
              &:not(:last-child) {
                margin-bottom: 8px;
              }

              a {
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                color: #A3A3A3;

                &:hover {
                  color: $--color-gold;
                }
              }

            }

          }
        }
      }
    }
  }


  > ul {
    display: flex;
    align-items: center;

    li + li {
      margin-left: 16px;
    }
  }
}

@media (max-width: 1024px) {
  .main-menu {
    margin-top: 16px;

    ul {

      .menu-item-has-children {

        &:after {
          display: none;
        }

        > ul li > ul {
          padding-top: 12px;
        }

        > ul {
          position: initial;
          padding: 0;
          background-color: transparent;
          opacity: 1;
          visibility: visible;
          overflow: visible;
          padding-top: 16px;

          li {

            &:last-child{
              margin-bottom: 0;
            }

            a {
              font-family: $--font-title;
              font-size: 18px;
              font-weight: 400;
              line-height: 25px;
            }
          }
        }

      }
    }

    > ul {
      flex-wrap: wrap;

      li {
        width: 100%;
        margin-bottom: 16px;
        padding: 0;

        a {
          font-family: $--font-title;
          font-size: 28px;
          font-weight: 700;
          line-height: 39px;
        }
      }

      li + li {
        margin-left: 0;
      }
    }
  }
}
