.main-menu {

  ul {
    margin: 0;

    li {

      a {
        font-size: 16px;
        font-weight: 500;
        color: $--color-grey-dark;

        &:hover {
          color: $--color-gold;
        }
      }
    }

    .menu-item-has-children {
      &:after {
        content: "";
        border: solid $--color-grey-dark;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        margin-left: 9px;
        margin-bottom: 2px;
      }

      > ul {
        display: none;
      }
    }
  }


  > ul {
    display: flex;
    align-items: center;

    li + li {
      margin-left: 16px;
    }
  }
}

