.single-case-testimonial {

  .testimonial-card .card-description p {
    font-size: 20px;
    line-height: 28px;
  }
}

@media (max-width: 600px) {
  .single-case-testimonial .testimonial-card .card-description p {
    font-size: 16px;
    line-height: 22px;
  }
}
