<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>

<section class="about">
  <div class="container">
    <div class="lines-background">
      <div class="lines-wrapper">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
    <h1>О нас</h1>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-m-12">
          <div class="about-content">
            <blockquote>Наша миссия – познакомить клиента с одним из самых мощных каналов продаж – миром Интернета, возможности которого поистине безграничны! На сегодняшний день Интернет – это основная платформа для коммерческой деятельности практически каждой компании</blockquote>
            <div class="about-image">
              <img src="./img/about-image.png" alt="">
            </div>
          </div>
      </div>
      <div class="col-lg-6 col-md-6 col-m-12">
        <div class="row about-cards-wrapper">
          <div class="col-lg-6 col-md-6 col-m-12">
            <div class="about-card">
              <div class="about-card-ico">
                <img src="./img/icons/about-card-ico.svg" alt="">
              </div>
              <div class="about-card-title">Лучшие цены</div>
              <div class="about-card-description">
                <p>Наши цены соответствуют качеству. С проектами работают только профессионалы.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-m-12">
            <div class="about-card">
              <div class="about-card-ico">
                <img src="./img/icons/about-card-ico1.svg" alt="">
              </div>
              <div class="about-card-title">Сильная команда</div>
              <div class="about-card-description">
                <p>Все сотрудники сертифицированы и постоянно обучаются. У нас своя платформа для выращивания профессионалов.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-m-12">
            <div class="about-card">
              <div class="about-card-ico">
                <img src="./img/icons/about-card-ico.svg" alt="">
              </div>
              <div class="about-card-title">Лучшие цены</div>
              <div class="about-card-description">
                <p>Наши цены соответствуют качеству. С проектами работают только профессионалы.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-m-12">
            <div class="about-card">
              <div class="about-card-ico">
                <img src="./img/icons/about-card-ico1.svg" alt="">
              </div>
              <div class="about-card-title">Сильная команда</div>
              <div class="about-card-description">
                <p>Все сотрудники сертифицированы и постоянно обучаются. У нас своя платформа для выращивания профессионалов.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="custom-cards-section">
  <div class="container">
    <div class="h2">Наша история</div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-m-12">
        <div class="custom-card">
          <div class="custom-card-number">2013</div>
          <div class="custom-card-title">Начало</div>
          <div class="custom-card-description">
            <p>Компания основана ответвлением от холдинга</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-m-12">
        <div class="custom-card">
          <div class="custom-card-number">2013</div>
          <div class="custom-card-title">Начало</div>
          <div class="custom-card-description">
            <p>Мы выиграли 3 награды CSS в течение года на сайтах наших клиентов.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-m-12">
        <div class="custom-card">
          <div class="custom-card-number">2013</div>
          <div class="custom-card-title">Начало</div>
          <div class="custom-card-description">
            <p>Компания основана ответвлением от холдинга</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-m-12">
        <div class="custom-card">
          <div class="custom-card-number">2013</div>
          <div class="custom-card-title">Начало</div>
          <div class="custom-card-description">
            <p>Компания основана ответвлением от холдинга</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-m-12">
        <div class="custom-card">
          <div class="custom-card-number">2013</div>
          <div class="custom-card-title">Начало</div>
          <div class="custom-card-description">
            <p>Компания основана ответвлением от холдинга</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('../includes/blocks/callback-section-dark.html').default)({}) %>

<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>
