<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>

<section class="blog">
  <div class="container">
    <div class="lines-background">
      <div class="lines-wrapper">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
    <h1>Блог</h1>
    <div class="filters-block">
      <div class="filter active">
        <span>Все статьи</span>
      </div>
      <div class="filter">
        <span>SEO</span>
      </div>
      <div class="filter">
        <span>Обучение</span>
      </div>
      <div class="filter">
        <span>Вакансии</span>
      </div>
      <div class="filter">
        <span>Разработка</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-m-12">
        <div class="blog-card">
          <div class="blog-card-tags">
            <div class="tag">
              <span>SEO</span>
            </div>
            <div class="tag">
              <span>Обучение</span>
            </div>
          </div>
          <div class="blog-card-image">
            <img src="./img/blog-card-image.png" alt="">
          </div>
          <div class="blog-card-title">Насколько важны Alt и Title изображения для SEO и как правильно их использовать</div>
          <a href="#" class="btn">Читать</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-m-12">
        <div class="blog-card">
          <div class="blog-card-tags">
            <div class="tag">
              <span>SEO</span>
            </div>
            <div class="tag">
              <span>Обучение</span>
            </div>
          </div>
          <div class="blog-card-image">
            <img src="./img/blog-card-image.png" alt="">
          </div>
          <div class="blog-card-title">Насколько важны Alt и Title изображения для SEO и как правильно их использовать</div>
          <a href="#" class="btn">Читать</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-m-12">
        <div class="blog-card">
          <div class="blog-card-tags">
            <div class="tag">
              <span>SEO</span>
            </div>
            <div class="tag">
              <span>Обучение</span>
            </div>
          </div>
          <div class="blog-card-image">
            <img src="./img/blog-card-image.png" alt="">
          </div>
          <div class="blog-card-title">Стоимость создания сайта и интернет-магазина</div>
          <a href="#" class="btn">Читать</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-m-12">
        <div class="blog-card">
          <div class="blog-card-tags">
            <div class="tag">
              <span>SEO</span>
            </div>
            <div class="tag">
              <span>Обучение</span>
            </div>
          </div>
          <div class="blog-card-image">
            <img src="./img/blog-card-image.png" alt="">
          </div>
          <div class="blog-card-title">Насколько важны Alt и Title изображения для SEO и как правильно их использовать</div>
          <a href="#" class="btn">Читать</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-m-12">
        <div class="blog-card">
          <div class="blog-card-tags">
            <div class="tag">
              <span>SEO</span>
            </div>
            <div class="tag">
              <span>Обучение</span>
            </div>
          </div>
          <div class="blog-card-image">
            <img src="./img/blog-card-image.png" alt="">
          </div>
          <div class="blog-card-title">Насколько важны Alt и Title изображения для SEO и как правильно их использовать</div>
          <a href="#" class="btn">Читать</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-m-12">
        <div class="blog-card">
          <div class="blog-card-tags">
            <div class="tag">
              <span>SEO</span>
            </div>
            <div class="tag">
              <span>Обучение</span>
            </div>
          </div>
          <div class="blog-card-image">
            <img src="./img/blog-card-image.png" alt="">
          </div>
          <div class="blog-card-title">Насколько важны Alt и Title изображения для SEO и как правильно их использовать</div>
          <a href="#" class="btn">Читать</a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-m-12">
          <ul class="form-pagination">
            <li class="active">
              <a href="#">1</a>
            </li>
            <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
            <li>
              <a href="#">4</a>
            </li>
            <li>
              <a href="#">5</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>
