<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>


<section class="cases-section cases-section-main">
  <div class="container">
    <div class="lines-background">
      <div class="lines-wrapper">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>

    <div class="breadcrumbs">
      <span>
        <span>
          <a href="/">Главная</a>
        </span> |
        <span class="breadcrumb_last" aria-current="page">Наши кейсы</span>
      </span>
    </div>

    <h1 class="h1">Наши кейсы</h1>
    <div class="filters-block">
      <div class="filter active">
        <span>Все кейсы</span>
      </div>
      <div class="filter">
        <span>SEO-продвижение</span>
      </div>
      <div class="filter">
        <span>Контекстная реклама</span>
      </div>
      <div class="filter">
        <span>Разработка сайтов</span>
      </div>
    </div>

    <div class="row case-item">
      <div class="col-lg-6 col-md-12 col-m-12">
        <div class="case-title">Ремонт квартир</div>
        <div class="case-description">
          <p>Сайт компании по ремонту квартир в Москве. Одна из самых высококонкурентных ниш в Яндексе по городу Москва. Дизайн сайта менялся 3 раза в течение года</p>
        </div>
        <div class="case-info">
          <div class="case-info-item">
            <div class="h5 case-info-header">Задача:</div>
            <div class="case-info-content">
              <p>Вывести в топ молодой сайт (4 мес.) в нише с большой конкуренцией, обеспечить стабильный приток трафика и заявок</p>
            </div>
          </div>
          <div class="case-info-item">
            <div class="h5 case-info-header">Результаты:</div>
            <div class="case-info-content">
              <p>89 из 150 продвигаемых запросов вышли в ТОП-10 за первые 4 недели работы</p>
            </div>
          </div>
        </div>
        <div class="case-services">
          <div class="h5">Услуга:</div>
          <div class="tags">
            <div class="tag"><span>SEO продвижение</span></div>
            <div class="tag"><span>Контекстная реклама</span></div>
          </div>
        </div>
        <a href="#" class="btn btn-red">Читать кейс</a>
      </div>
      <div class="col-lg-6 col-md-12 col-m-12 case-inner-wrapper">
        <div class="case-inner-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-diagram">
              <div class="swiper-slide-wrapper">
                <div class="chart-subtitle">
                  <p>Было</p>
                  <span>/ </span>
                  <p>Стало</p>
                </div>
                <div class="diagram-wrapper">
                  <div class="chart-left chart-wrapper">
                    <div class="chart">
                      <div class="bar"></div>
                      <span class="label" data-value="11"></span>
                    </div>
                    <div class="chart">
                      <div class="bar"></div>
                      <span class="label" data-value="105"></span>
                    </div>
                  </div>
                  <div class="chart-right chart-wrapper">
                    <div class="chart">
                      <div class="bar"></div>
                      <span class="label" data-value="34"></span>
                    </div>
                    <div class="chart">
                      <div class="bar"></div>
                      <span class="label" data-value="98"></span>
                    </div>
                  </div>
                </div>
                <div class="chart-titles-bottom">
                  <div class="chart-title">Запросов в топ</div>
                  <div class="chart-title">Заказов в месяц</div>
                </div>
              </div>
            </div>
            <div class="swiper-slide swiper-slide-image">
              <div class="swiper-slide-wrapper">
                <img src="./img/case-slider-img.png" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-button-prev-inner"></div>
          <div class="swiper-button-next-inner"></div>
        </div>
      </div>
    </div>

    <div class="row case-item">
      <div class="col-lg-6 col-md-12 col-m-12">
        <div class="case-title">Ремонт квартир</div>
        <div class="case-description">
          <p>Сайт компании по ремонту квартир в Москве. Одна из самых высококонкурентных ниш в Яндексе по городу Москва. Дизайн сайта менялся 3 раза в течение года</p>
        </div>
        <div class="case-info">
          <div class="case-info-item">
            <div class="h5 case-info-header">Задача:</div>
            <div class="case-info-content">
              <p>Вывести в топ молодой сайт (4 мес.) в нише с большой конкуренцией, обеспечить стабильный приток трафика и заявок</p>
            </div>
          </div>
          <div class="case-info-item">
            <div class="h5 case-info-header">Результаты:</div>
            <div class="case-info-content">
              <p>89 из 150 продвигаемых запросов вышли в ТОП-10 за первые 4 недели работы</p>
            </div>
          </div>
        </div>
        <div class="case-services">
          <div class="h5">Услуга:</div>
          <div class="tags">
            <div class="tag"><span>SEO продвижение</span></div>
            <div class="tag"><span>Контекстная реклама</span></div>
          </div>
        </div>
        <a href="#" class="btn btn-red">Читать кейс</a>
      </div>
      <div class="col-lg-6 col-md-12 col-m-12 case-inner-wrapper">
        <div class="case-inner-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-diagram">
              <div class="swiper-slide-wrapper">
                <div class="chart-subtitle">
                  <p>Было</p>
                  <span>/ </span>
                  <p>Стало</p>
                </div>
                <div class="diagram-wrapper">
                  <div class="chart-left chart-wrapper">
                    <div class="chart">
                      <div class="bar"></div>
                      <span class="label" data-value="11"></span>
                    </div>
                    <div class="chart">
                      <div class="bar"></div>
                      <span class="label" data-value="105"></span>
                    </div>
                  </div>
                  <div class="chart-right chart-wrapper">
                    <div class="chart">
                      <div class="bar"></div>
                      <span class="label" data-value="34"></span>
                    </div>
                    <div class="chart">
                      <div class="bar"></div>
                      <span class="label" data-value="98"></span>
                    </div>
                  </div>
                </div>
                <div class="chart-titles-bottom">
                  <div class="chart-title">Запросов в топ</div>
                  <div class="chart-title">Заказов в месяц</div>
                </div>
              </div>
            </div>
            <div class="swiper-slide swiper-slide-image">
              <div class="swiper-slide-wrapper">
                <img src="./img/case-slider-img.png" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-button-prev-inner"></div>
          <div class="swiper-button-next-inner"></div>
        </div>
      </div>
    </div>

  </div>
</section>










<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>
