<!--header.html-->
<%= _.template(require('../includes/common/header-transparent.html').default)({}) %>

<%= _.template(require('../includes/blocks/main-banner.html').default)({}) %>

<%= _.template(require('../includes/blocks/cases.html').default)({}) %>

<%= _.template(require('../includes/blocks/services.html').default)({}) %>

<%= _.template(require('../includes/blocks/advantages.html').default)({}) %>

<%= _.template(require('../includes/blocks/callback-section-light.html').default)({}) %>

<%= _.template(require('../includes/blocks/testimonials.html').default)({}) %>

<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>
