<!--header.html-->
<%= _.template(require('../includes/common/header-transparent.html').default)({}) %>

<section class="our-team">
  <div class="container">
    <h1>Наша команда</h1>
    <div class="staff-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="staff-card">
            <div class="staff-image">
              <img src="./img/staff-img1.png" alt="">
            </div>
            <div class="staff-name">Сергей Григорьев</div>
            <div class="staff-position">Специалист по продвижению сайтов</div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="staff-card">
            <div class="staff-image">
              <img src="./img/staff-img1.png" alt="">
            </div>
            <div class="staff-name">Сергей Григорьев</div>
            <div class="staff-position">Специалист по продвижению сайтов</div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="staff-card">
            <div class="staff-image">
              <img src="./img/staff-img1.png" alt="">
            </div>
            <div class="staff-name">Сергей Григорьев</div>
            <div class="staff-position">Специалист по продвижению сайтов</div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="staff-card">
            <div class="staff-image">
              <img src="./img/staff-img1.png" alt="">
            </div>
            <div class="staff-name">Сергей Григорьев</div>
            <div class="staff-position">Специалист по продвижению сайтов</div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="staff-card">
            <div class="staff-image">
              <img src="./img/staff-img1.png" alt="">
            </div>
            <div class="staff-name">Сергей Григорьев</div>
            <div class="staff-position">Специалист по продвижению сайтов</div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>

<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>
