<!--header.html-->
<%= _.template(require('../includes/common/header-transparent.html').default)({}) %>

<section class="main-banner">
  <div class="container">
    <div class="breadcrumbs">
      <span>
        <span>
          <a href="/">Главная</a>
        </span> >
        <span class="breadcrumb_last" aria-current="page">Наши кейсы</span>
      </span>
    </div>
    <div class="row">
      <div class="col-lg-5 col-md-6 col-m-12">
        <div class="subtitle">Увеличьте продажи через Ваш сайт</div>
        <div class="main-banner-title">Маркетинговое агентство <span>полного цикла</span></div>
        <div class="banner-image-block banner-image-block-tablet">
          <div class="banner-content">
            <div class="banner-content-title">Павел Владимирович</div>
            <div class="banner-content-subtitle">Наш генеральный директор</div>
          </div>
          <div class="banner-image">
            <img src="./img/main-banner-image.png" alt="">
          </div>
          <div class="banner-btn-wrapper">
            <span>Видео работы команды</span>
            <a class="open-modal-dialog banner-btn" data-src="modal-popup-video"  href="#">
              <img src="./img/icons/banner-btn-ico.svg" alt="">
            </a>
          </div>
        </div>
        <div class="form-wrapper">
          <div class="form-title">Закажите бесплатный аудит</div>
          <div class="form-description">
            <p>Напишите нам и мы соберем «продажные ключи» для Вашего бизнеса и определим позиции</p>
          </div>
          <form action="">
            <p>
              <label>
                <input class="phone" type="text" placeholder="Ваш номер">
              </label>
            </p>
            <p>
              <label>
                <input class="phone" type="text" placeholder="Ссылка на сайт">
              </label>
            </p>
            <p>
              <input class="wpcf7-form-control wpcf7-submit has-spinner" type="submit" value="Отправить">
            </p>
            <p class="form-icon-description">
              <img src="./img/icons/form-ico-fire.svg" alt="">
              <span><b>-20% </b>На первый счёт</span>
            </p>
          </form>
          <div class="form-policy">
            Отправляя заявку, Вы даете согласие на обработку персональных данных, установленными
            <a href="#">политикой конфиденциальности</a>
          </div>
        </div>
        <div class="banner-info-block">
          <div class="info-block-ico">
            <img src="./img/icons/banner-info-block-ico.svg" alt="">
          </div>
          <div class="info-block-content">
            <div class="info-block-title"><span>100% возврат денег</span> при недостижении результата, прописанного в договоре</div>
            <div class="info-block-links">
              <a href="#">Пример в договоре</a>
              <a href="#">Почему мы даем такие гарантии?</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-6 col-m-12">
        <div class="banner-image-block banner-image-block-pc">
          <div class="banner-content">
            <div class="banner-content-title">Павел Владимирович</div>
            <div class="banner-content-subtitle">Наш генеральный директор</div>
          </div>
          <div class="banner-image">
            <img src="./img/main-banner-image.png" alt="">
          </div>
          <div class="banner-btn-wrapper">
            <span>Видео работы команды</span>
            <a class="banner-btn open-modal-dialog" href="#" data-src="modal-popup-video">
              <img src="./img/icons/banner-btn-ico.svg" alt="">
            </a>
          </div>
        </div>
        <div class="row banner-stats-block">
          <div class="col-lg-4 col-md-4">
            <div class="stat-item">
              <div class="stat-number">+30%</div>
              <div class="stat-title">Увеличение конверсии сайта</div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="stat-item">
              <div class="stat-number">+87%</div>
              <div class="stat-title">Рост целевого трафика</div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="stat-item">
              <div class="stat-number">X3</div>
              <div class="stat-title">Увеличение продаж</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="seo-section">
  <div class="container">
    <div class="lines-background">
      <div class="lines-wrapper">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
    <div class="h2">Что дает SEO бизнесу</div>
    <div class="row">
      <div class="col-lg-4 col-md-12 col-m-12">
        <div class="card-wrapper">
          <div class="card-wrapper-ico">
            <img src="./img/icons/seo-ico.svg" alt="">
          </div>
          <div class="card-wrapper-title">От 100 целевых посещений в день</div>
          <div class="card-wrapper-description">
            <p>При среднем рекламном бюджете 40 000 руб. постоянной ежемесячной работой.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-m-12">
        <div class="card-wrapper">
          <div class="card-wrapper-ico">
            <img src="./img/icons/seo-ico1.svg" alt="">
          </div>
          <div class="card-wrapper-title">От 0,5 до 30 рублей за клик</div>
          <div class="card-wrapper-description">
            <p>Чем выше будут позиции сайта, тем дешевле и больше посетителей вы получите.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-m-12">
        <div class="card-wrapper">
          <div class="card-wrapper-ico">
            <img src="./img/icons/seo-ico2.svg" alt="">
          </div>
          <div class="card-wrapper-title">Стабильный, качественный трафик</div>
          <div class="card-wrapper-description">
            <p>Соответственно, стабильные заявки и заказы. Большинство пользователей переходят только на сайты из выдачи. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="tariffs-section">
  <div class="container">
    <div class="h2">Тарифы на продвижение сайта</div>
    <div class="row">
      <div class="col-lg-4 col-md-12 col-m-12">
        <div class="tariff-card">
          <div class="tariff-card-content">
            <div class="tariff-card-title">Яндекс</div>
            <div class="tariff-card-subtitle">Что входит:</div>
            <ul>
              <li>Гарантия вывода в ТОП-10 Яндекс</li>
              <li>Гарантия возврата денег</li>
              <li>Более 50 видов работ, которые проводятся ежемесячно - <a href="#">см ниже</a></li>
            </ul>
          </div>
          <div class="tariff-card-info">
            <div class="tariff-card-prices">
              <div class="tariff-price-old">60.000 руб.</div>
              <div class="tariff-price-current">От 40.000 руб.</div>
            </div>
            <a href="#" class="btn btn-bordered">Выбрать тариф</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-m-12">
        <div class="tariff-card">
          <div class="tariff-card-content">
            <div class="tariff-card-title">Яндекс + Google</div>
            <div class="tariff-card-subtitle">Что входит:</div>
            <ul>
              <li>Гарантия вывода в ТОП-10 Яндекс</li>
              <li>Гарантия возврата денег</li>
              <li>Работа с ссылочной массой под Google</li>
              <li>Работа с распределением весов под Google</li>
              <li>Более 50 видов работ, которые проводятся ежемесячно - <a href="#">см ниже</a></li>
              <li>Подходит для интернет магазинов</li>
            </ul>
          </div>
          <div class="tariff-card-info">
            <div class="tariff-card-prices">
              <div class="tariff-price-old">60.000 руб.</div>
              <div class="tariff-price-current">От 40.000 руб.</div>
            </div>
            <a href="#" class="btn btn-red">Выбрать тариф</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-m-12">
        <div class="tariff-card">
          <div class="tariff-card-content">
            <div class="tariff-card-title">Яндекс</div>
            <div class="tariff-card-subtitle">Что входит:</div>
            <ul>
              <li>Гарантия вывода в ТОП-10 Яндекс</li>
              <li>Гарантия возврата денег</li>
              <li>Более 50 видов работ, которые проводятся ежемесячно - <a href="#">см ниже</a></li>
            </ul>
          </div>
          <div class="tariff-card-info">
            <div class="tariff-card-prices">
              <div class="tariff-price-old">60.000 руб.</div>
              <div class="tariff-price-current">От 40.000 руб.</div>
            </div>
            <a href="#" class="btn btn-bordered">Выбрать тариф</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('../includes/blocks/cases.html').default)({}) %>

<%= _.template(require('../includes/blocks/callback-section-dark.html').default)({}) %>

<%= _.template(require('../includes/blocks/advantages.html').default)({}) %>

<%= _.template(require('../includes/blocks/calculator.html').default)({}) %>

<section class="our-works">
  <div class="container">
    <div class="lines-background">
      <div class="lines-wrapper">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
    <div class="h2">Какие работы по сайту мы делаем</div>
    <div class="works-list">
      <a href="#" class="work-item">
        <div class="work-item-ico">
          <img src="./img/icons/work-item-ico.svg" alt="">
        </div>
        <div class="work-item-title">Подготовка и формирование плана работ по сайту</div>
      </a>
      <a href="#" class="work-item">
        <div class="work-item-ico">
          <img src="./img/icons/work-item-ico1.svg" alt="">
        </div>
        <div class="work-item-title">Сбор и распределение ключевых запросов</div>
      </a>
      <a href="#" class="work-item">
        <div class="work-item-ico">
          <img src="./img/icons/work-item-ico2.svg" alt="">
        </div>
        <div class="work-item-title">Настройка сайта и системы аналитики</div>
      </a>
      <a href="#" class="work-item">
        <div class="work-item-ico">
          <img src="./img/icons/work-item-ico3.svg" alt="">
        </div>
        <div class="work-item-title">Составление технического задания и написание текстов</div>
      </a>
    </div>
  </div>
</section>

<section class="custom-cards-section">
  <div class="container">
    <div class="h2">Этапы работы</div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-m-12">
        <div class="custom-card">
          <div class="custom-card-number">1</div>
          <div class="custom-card-title">Заявка</div>
          <div class="custom-card-description">
            <p>Оставляете заявку и мы связываемся с вами для обсуждения деталей и KPI.</p>
          </div>
          <a href="#" class="btn btn-red">Оставить заявку</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-m-12">
        <div class="custom-card">
          <div class="custom-card-number">2</div>
          <div class="custom-card-title">Заявка</div>
          <div class="custom-card-description">
            <p>Оставляете заявку и мы связываемся с вами для обсуждения деталей и KPI.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-m-12">
        <div class="custom-card">
          <div class="custom-card-number">3</div>
          <div class="custom-card-title">Заявка</div>
          <div class="custom-card-description">
            <p>Оставляете заявку и мы связываемся с вами для обсуждения деталей и KPI.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-m-12">
        <div class="custom-card">
          <div class="custom-card-number">4</div>
          <div class="custom-card-title">Старт работ и отслеживания результатов</div>
          <div class="custom-card-description">
            <p>Подключение аналитики и СЕО инструментов, настройка отслеживания целей.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-m-12">
        <div class="custom-card">
          <div class="custom-card-number">5</div>
          <div class="custom-card-title">Заявка</div>
          <div class="custom-card-description">
            <p>Оставляете заявку и мы связываемся с вами для обсуждения деталей и KPI.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-m-12">
        <div class="custom-card">
          <div class="custom-card-number">6</div>
          <div class="custom-card-title">Заявка</div>
          <div class="custom-card-description">
            <p>Оставляете заявку и мы связываемся с вами для обсуждения деталей и KPI.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('../includes/blocks/testimonials.html').default)({}) %>

<%= _.template(require('../includes/blocks/callback-section-light.html').default)({}) %>

<section class="content-section">
  <div class="container">
    <div class="lines-background">
      <div class="lines-wrapper">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="h2">SEO продвижение сайта</div>
      <div class="image-wrapper">
        <img src="./img/content-image.png" alt="">
      </div>
      <div class="content-description">
        <p>Хотите сделать ваш сайт более видимым и привлекательным для любых потенциальных клиентов? Тогда вы попали в нужное место! Компания «Traficon» специализируется на раскрутке сайтов любой тематики и предлагает полный спектр услуг в области продвижения и маркетинга товаров.</p>
      </div>
      <a href="#" class="btn btn-red">Читать дальше</a>
    </div>
  </div>
</section>

<%= _.template(require('../includes/blocks/faq.html').default)({}) %>

<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>
