<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>

<section class="testimonials-section testimonials-section-main">
  <div class="container">
    <div class="lines-background">
      <div class="lines-wrapper">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
    <h1>Отзывы</h1>
    <div class="testimonials-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonial-card">
            <div class="card-content">
              <div class="card-avatar">
                <img src="./img/testimonial-avatar.png" alt="">
              </div>
              <div class="card-info">
                <div class="card-rating">
                  <i class="star-ico"></i>
                  <i class="star-ico"></i>
                  <i class="star-ico"></i>
                  <i class="star-ico"></i>
                  <i class="star-ico"></i>
                </div>
                <div class="card-title">Сергей Сафронов</div>
                <div class="card-tag">СЕО</div>
              </div>
            </div>
            <div class="card-description">
              <p>Благодаря накрутке поведенческих факторов, наш веб-сайт стал более привлекательным для посетителей, что привело к увеличению конверсии. Этот инструмент действительно помог нам повысить эффективность онлайн-продаж.</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-card">
            <div class="card-content">
              <div class="card-avatar">
                <img src="./img/testimonial-avatar.png" alt="">
              </div>
              <div class="card-info">
                <div class="card-rating">
                  <i class="star-ico"></i>
                  <i class="star-ico"></i>
                  <i class="star-ico"></i>
                  <i class="star-ico"></i>
                  <i class="star-ico"></i>
                </div>
                <div class="card-title">Сергей Сафронов</div>
                <div class="card-tag">СЕО</div>
              </div>
            </div>
            <div class="card-description">
              <p>Благодаря накрутке поведенческих факторов, наш веб-сайт стал более привлекательным для посетителей, что привело к увеличению конверсии. Этот инструмент действительно помог нам повысить эффективность онлайн-продаж.</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-card">
            <div class="card-content">
              <div class="card-avatar">
                <img src="./img/testimonial-avatar.png" alt="">
              </div>
              <div class="card-info">
                <div class="card-rating">
                  <i class="star-ico"></i>
                  <i class="star-ico"></i>
                  <i class="star-ico"></i>
                  <i class="star-ico"></i>
                  <i class="star-ico"></i>
                </div>
                <div class="card-title">Сергей Сафронов</div>
                <div class="card-tag">СЕО</div>
              </div>
            </div>
            <div class="card-description">
              <p>Благодаря накрутке поведенческих факторов, наш веб-сайт стал более привлекательным для посетителей, что привело к увеличению конверсии. Этот инструмент действительно помог нам повысить эффективность онлайн-продаж.</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-card">
            <div class="card-content">
              <div class="card-avatar">
                <img src="./img/testimonial-avatar.png" alt="">
              </div>
              <div class="card-info">
                <div class="card-rating">
                  <i class="star-ico"></i>
                  <i class="star-ico"></i>
                  <i class="star-ico"></i>
                  <i class="star-ico"></i>
                  <i class="star-ico"></i>
                </div>
                <div class="card-title">Сергей Сафронов</div>
                <div class="card-tag">СЕО</div>
              </div>
            </div>
            <div class="card-description">
              <p>Благодаря накрутке поведенческих факторов, наш веб-сайт стал более привлекательным для посетителей, что привело к увеличению конверсии. Этот инструмент действительно помог нам повысить эффективность онлайн-продаж.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>


<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>
